body{
  margin: 0;
  padding:0;
  height: 100vh;
  background-color:  #5c6572;
  color: #fafafa;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.root{
  margin-top: 1rem;
  padding: 0.5rem;
}

.input{
  min-width: 20rem;

}

input{
  border-radius: 5px;
  border: none;
  width: 85%;
  height: 1.5rem;
  margin: 1rem 0.3rem;
  font-size: 1rem;
  color: #5c6572;
}

input:focus{
  outline: none;
  box-shadow: 0 0 5px #fff;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button{
  border-radius: 30%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  color: #fafafa;
}

.button__delete{
  color:#5c6572;
  border: 1px solid #5c6572;
}


.button__complete{
  background-color:rgba(127, 255, 212, 0.911);
  border:none;
}
button:hover{
  cursor: pointer;
}
button:focus{
  outline:none;
}
button:active{
  outline: none;
  box-shadow: 0 0 5px #fff;
}
.button__delete:hover{
  background-color: salmon;
  color: #5c6572;
  border:none;
}

li{
  background-color: #818ea0a8;
  border-radius: 5px;
  margin: 2px;
  padding: 2px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__completed-complete{
  border:1px solid rgba(127, 255, 212, 0.493);
  background-color: transparent;
}

.list__item-complete{
  background-color:  #788291a8;
  color: #5c6572;
}